{%load static%}
<header>
    <nav class="navbar fixed-top navbar-expand-md  navbar-dark  ">
        
        <a class="navbar-brand" href="{% url 'index'%}">
            <img src="{%static 'img/residenciaLogo.png'%}" alt="Logotipo da Residência em TI" title="Logo da Residencia">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'index'%}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'index_metodologia'%}">Metodologia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'index_projetos'%}">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'index_noticia'%}">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'index_galeria'%}">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'index_equipe'%}">Equipe</a>
                </li>
            </ul>
            <div>
                <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">
                    <img src="{%static 'img/usericon1.png'%}" style="height: 35px;color: white;"class="rounded-circle"
              alt="Avatar" l/>
            </a>
            </div>
              
        </div>
    </nav>
</header>