{%load static%}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{%static 'img/iconLogo.png'%}" type="image/png"/>
<link href="https://fonts.googleapis.com/css?family=Barlow:300,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"crossorigin="anonymous">
<link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{%static 'vendor/bootstrap/css/main.css'%}" rel="stylesheet">
<link href="{%static 'vendor/bootstrap/css/fontes.css'%}" rel="stylesheet">
<link href="{%static 'vendor/bootstrap/css/cores.css'%}" rel="stylesheet">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>