{%load static%}
<footer class="container-fluid text-light text-center  mb-0 align-items-bottom">
    <div class="container navbar-dark  mt-0 mb-0">
        <div class="row">
            <div class="col pt-2">
                <a href="https://www.tre-rn.jus.br/" target="_blank">
                    <img src="https://www.tre-rn.jus.br/++theme++justica_eleitoral/imagens/logos/tre-rn-inverse.png" style="width: 115px;height: 45px;"title="Site oficial">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col pt-0">
                <a class="text-right" href="https://www.djangoproject.com/" target="_blank" style="color: white;text-decoration: none;" title="Desenvolvido em Django">
                    <p class="text-right">Powered by Django</p>
                </a>
            </div>
        </div>
    </div>
</footer>