{%load static%}


<div class="container">
    <div class="py-5 text-center">
        <h1>Equipe 2020</h1>
    </div>
    <div class="py-4 text-center">
        <h1>Coordenação TRE-RN</h1>
    </div>
    <div class="row mb-5">
        <div class="col-md-4 my-2">
            <div class="equipe azulescuro text-light rounded shadow mx-auto py-2 px-4 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/marcosMaia.png'%}" alt="">
                <h5>Marcos Maia</h5>
                <p class="mb-0 text-justify">Engenheiro Civil (UFRN), Especialista em Segurança da Informação (UES) e em
                    Direito e Processo eleitoral
                    (UNP), Certificação em COBIT 5.0 Foundation Examination e em PRINCE2 Foundation Certificate in
                    Project
                    Management. Analista Judiciário do Tribunal Regional Eleitoral/RN, atualmente exercendo o cargo de
                    Secretário
                    de Tecnologia da Informação e Comunicação.</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="equipe azulescuro text-light rounded shadow mx-auto py-2 px-4 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/osmar.png'%}" alt="">
                <h5>Osmar Fernandes de Oliveira Júnior</h5>
                <p class="mb-0 text-justify">Mestre em Sistemas e Computação pela Universidade Federal do Rio Grande do
                    Norte (UFRN), Bacharel em Sistemas
                    de Informação pela Universidade Potiguar (UnP) e Técnico em Informática Industrial pela Escola
                    Técnica
                    Federal do Ceará (ETFCe). Analista Judiciário do Tribunal Regional Eleitoral/RN, com especialidade
                    em
                    Análise de Sistemas, atualmente exercendo o cargo de Coordenador de Sistemas, vinculado à Secretaria
                    de Tecnologia da Informação e Comunicação. Experiência na área de Ciência da Computação, com ênfase
                    em
                    Sistemas de Informação, atuando principalmente nos temas: linguagem de programação, programação de
                    computadores,
                    banco de dados, análise de sistemas e matemática computacional.</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="equipe azulescuro text-light rounded shadow mx-auto py-2 px-4 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/carlosMagno.png'%}" alt="">
                <h5>Carlos Câmara</h5>
                <p class="mb-0 text-justify">Engenheiro de Computação (UFRN), Especialista em Segurança da Informação
                    (UES) e Especialista em Direito
                    eleitoral (UNP), Certificação ITIL Foundation People Cert, atualmente exercendo o cargo de
                    Coordenador
                    de Infraestrutura Tecnológica na Secretaria de Tecnologia da Informação e Comunicação do TRE/RN.</p>
            </div>
        </div>

    </div>
    <div class="py-5 text-center">
        <h1>Coordenação IMD/UFRN</h1>
    </div>
    <div class="row mb-5">
        <div class="col-md-4 my-2">
            <div class="equipe bg-azul text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/danilo.png'%}" alt="">
                <h5>Prof. Dr. Danilo Curvelo de Souza</h5>
                <p class="mb-0 text-justify">Possui graduação em Engenharia de Computação (2010), mestrado (2012) e
                    doutorado (2017) em Engenharia Elétrica
                    e Computação pela Universidade Federal do Rio Grande do Norte. Desde 2015 é docente da Universidade
                    Federal
                    do Rio Grande do Norte (UFRN), sendo lotado no Instituto Metrópole Digital (IMD). Seus interesses em
                    pesquisa incluem infraestrutura e redes de computadores, internet das coisas, blockchain e indústria
                    4.0. Atualmente, atua como coordenador da Residência em Tecnologia da Informação em parceria com o
                    Tribunal
                    Regional Eleitoral do Rio Grande do Norte.</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="equipe bg-azul text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/frederico.png'%}" alt="">
                <h5>Prof. Frederico Lopes</h5>
                <p class="mb-0 text-justify">Professor da Universidade Federal do Rio Grande do Norte desde 2012. Possui
                    graduação em Ciências da Computação
                    pela Universidade Federal do Rio Grande do Norte (2005) e é mestre em Sistemas e Computação pela
                    Universidade
                    Federal do Rio Grande do Norte (2008) e doutor em Ciência da computação pela UFRN. Pós/doutorado em
                    andamento
                    na University of British Columbia, Vancouver/Canadá. Durante o ano de 2010 esteve em Estágio de
                    Doutorando
                    (doutorado sanduíche) no IST/UTL, Lisboa/Portugal. Tem experiência na área de Ciência da Computação,
                    com ênfase em Sistemas Distribuídos e Engenharia de Software, atuando principalmente nos seguintes
                    temas:
                    middleware, ubiquitous computing, pervasive computing, cidades inteligentes, publish/subscribe
                    middleware,
                    computação em nuvem, context-aware. Membro da Fiware Foundation desde 2017.</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="equipe bg-azul text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/danielSabinoAmorim.png'%}" alt="">
                <h5>Daniel Sabino Amorim de Araújo</h5>
                <p class="mb-0 text-justify">Possui graduação em Ciência da Computação pela Universidade Federal do Rio
                    Grande do Norte - UFRN - (2006).
                    Mestrado em Sistemas e Computação pelo DIMAp/UFRN (2008). Doutorado em Engenharia Elétrica e de
                    Computação
                    - DCA/UFRN (2013). Foi Professor do Departamento de Ciências Exatas, Tecnológicas e Humanas (DCETH -
                    Campus Angicos) da Universidade Federal Rural do Semi-Árido (UFERSA) entre 2009 e 2015. Atualmente,
                    é
                    Professor e Diretor de Ensino do Instituto Metrópole Digital da UFRN. Suas principais áreas de
                    pesquisas
                    são: Aprendizado de Máquina, Análise de Agrupamentos, Information-theoretic Learning,
                    Bioinformática,
                    Big Data e Cidades Inteligentes, Visão Computacional e Business Intelligence.</p>
            </div>
        </div>
    </div>
    <div class="py-5 text-center">
        <h1>Residentes TRE-RN</h1>
    </div>
    <h2 class="mb-5">Equipe de Desenvolvimento</h2>
    <div class="row mb-5">
        <div class="col-lg-6 my-2">
            <div class="equipe azulescuro text-light rounded shadow mx-auto mb-5 p-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/italoBerg.png'%}" alt="">
                <h5>Ítalo Berg Marques Souza dos Reis</h5>
                <p class="text-justify  mb-0">Graduado em Análise e Desenvolvimento de Software pelo Instituto Federal
                    de Educação, Ciência e Tecnologia
                    do Rio Grande do Norte ( IFRN ). Pós-graduado em Docência e Gestão no ensino superior pela
                    Universidade
                    Estácio de Sá. Técnico em Informática pelo CEFET-RN. Atualmente faz parte do programa de Residência
                    em
                    TI do TRE-RN em parceria com o Instituto Metrópole digital ( IMD ). Possui experiência em
                    desenvolvimento
                    de sistemas web e jogos educativos ( Gamedu ). </p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe azulescuro text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/matheusOliveira.png'%}" alt="">
                <h5>Mateus Oliveira Costa Bezerra</h5>
                <p class="text-justify mb-0">Graduado pelo Instituto Federal de Ciências e Tecnologia do Rio Grande do
                    Norte (IFRN) em Tecnologia em Análise
                    e Desenvolvimento de Sistemas. Experiência na área de desenvolvimento de jogos no Projeto
                    Gamedu(UFRN).
                    Áreas de interesse: HTML, CSS , Java, Git, Bootstrap, Python, Linux.</p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe azulescuro text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/carlosHerinque.png'%}" alt="">
                <h5>Carlos Henrique Pires dos Santos</h5>
                <p class="text-justify mb-0">Formado em Sistemas Para Internet pelo IFRN, apaixonado por tecnologia,
                    possui conhecimento avançado em Redes
                    de Computadores e Sistemas Abertos, atualmente é desenvolvedor de sistemas, tem como principal
                    experiência
                    atuação como bolsista Cnpq na modalidade DTC-F, em que contribuiu no desenvolvimento de um WAF (Web
                    Application
                    Firewall) e na criação da infraestrutura e gerenciamento Containers Dockers. Aluno do mestrado em
                    Ciência
                    da Computação pela UFRN, pesquisador na área da Engenharia de Software e Pós-Graduando em Tecnologia
                    da Informação pelo IMD, no qual atua como residente no TRE-RN e faz parte da equipe de
                    desenvolvimento
                    de Aplicativos.</p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe azulescuro text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/carlosFreitas.png'%}" alt="">
                <h5>Carlos Freitas</h5>
                <p class="text-justify mb-0">Graduado em análise e desenvolvimento de sistemas pela Estácio de Sá,
                    graduando em tecnologia de sistemas
                    para internet pelo IFRN, realizou trabalho em empresas de iniciativa pública e privada de pequeno,
                    médio
                    e grande porte, nas áreas de TI incluindo telecomunicações e segurança eletrônica. Com mais de 20
                    (vinte)
                    anos de experiência na área, mantendo-se atualizado às novas tendências do mercado possui perfil
                    profissional
                    pró-ativo, empreendedor, auto-didata.
                </p>
            </div>
        </div>
    </div>
    <h2 class="mb-5">Equipe de Business Intelligence - BI</h2>
    <div class="row mb-5">
        <div class="col-lg-6 my-2">
            <div class="equipe bg-roxo text-light rounded shadow mx-auto mb-5 p-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/thiagoOliveira.png'%}" alt="">
                <h5>Thiago de Oliveira</h5>
                <p class="text-justify  mb-0">Graduado em Tecnologia da Informação e graduando em Engenharia de
                    Software, ambos pela UFRN, com histórico
                    em pesquisas relacionadas a visualização de dados e experiência em Business Intelligence no Tribunal
                    de Justiça do RN em residência anterior. Possui fortes habilidades técnicas de Engenharia de Dados,
                    Aprendizado
                    Máquina e Banco de Dados. Motivado por desafios e apto a novos aprendizados. </p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe bg-roxo text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/felipeViana.png'%}" alt="">
                <h5>Filipe Viana Monteiro</h5>
                <p class="text-justify mb-0">Engenheiro de computação, formado pela UFRN em 2015, com graduação
                    sanduíche na University of Western Ontario,
                    possui experiência com desenvolvimento de soluções de inteligência de negócio voltadas para o
                    segmento
                    da cadeia de suprimentos e logística. Com forte interesse em ciência de dados, inteligência
                    artificial,
                    desenvolvimento de software e gestão ágil de projetos. Atualmente, como residente de BI do Tribunal
                    Regional
                    Eleitoral do Rio Grande do Norte, vem desenvolvendo soluções para extração, transformação e
                    visualização
                    de dados, estruturados e não estruturados, utilizando ferramentas livres, com o objetivo de
                    facilitar
                    o acesso as informações do Tribunal.
                </p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe bg-roxo text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/arthurBernardo.png'%}" alt="">
                <h5>Arthur Bernardo Portela Castelo Branco</h5>
                <p class="text-justify mb-0">Graduado Tecnologia da Informação (BTI), graduando em Engenharia de
                    Software, ambos pela Universidade Federal
                    do Rio Grande do Norte (UFRN). Aluno da pós-graduação em TI pelo instituto Metrópole Digital(IMD).
                    Experiência
                    profissional como estagiário do Tribunal de Justiça do Rio Grande do Norte (TJRN) com foco no
                    desenvolvimento
                    e manutenção de sistemas EaD e sistemas acadêmicos, bolsista de desenvolvimento Atuando na Diretoria
                    de TI do (IMD) no desenvolvimento de softwares institucionais em Java/JEE e PHP e análise de banco
                    de
                    dados. Desenvolveu estudos em business intelligence com foco em ciência de dados. Atualmente atuando
                    como Analista de Business Intelligence no Tribunal Regional eleitoral do Rio Grande do Norte.
                </p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe bg-roxo text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/giuliardCosmo.png'%}" alt="">
                <h5>Giuliard Cosmo Rodrigues</h5>
                <p class="text-justify mb-0">Bacharel em Ciências e Tecnologia com graduação sanduíche na University of
                    Wisconsin-Stout e graduando em
                    Engenharia da Computação pela UFRN. Experiência com desenvolvimento de sistemas corporativos e
                    acadêmicos.
                    Apaixonado por análise de dados e com conhecimentos em Engenharia e Ciência de Dados.
                </p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe bg-roxo text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/diego_kirmay.png'%}" alt="">
                <h5>Diego Kirmay Costa Toscano</h5>
                <p class="text-justify mb-0">Graduado em Estatística pela Universidade Federal do Rio Grande do Norte
                    (2016). Tem experiência na área de Probabilidade, Estatística e Análise de Dados. Atualmente
                    estudante do Bacharelado em Tecnologia da Informação (BTI) pela Universidade Federal do Rio Grande
                    do Norte (UFRN).
                </p>
            </div>
        </div>
    </div>
    <h2 class="mb-5">Equipe de Infraestrutura</h2>
    <div class="row mb-5">
        <div class="col-lg-6 my-2">
            <div class="equipe bg-azul text-light rounded shadow mx-auto mb-5 p-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/pauloCesar.png'%}" alt="">
                <h5>Paulo Cesar Tavares Almeida</h5>
                <p class="text-justify  mb-0">Graduado em Tecnologia em Redes de computadores pelo IFRN. Experiências:
                    Analista de suporte/HP, Analista
                    de TI/AGF Engenharia, Analista de suporte TI/Lanlink. Competências: administração de servidores
                    windows server e linux, configuração e suportação de serviços de infraestrutura (endereçamento, dns,
                    dhcp, firewall, vlan, radius, controlador de domínio), configuração de ativos de redes (Cisco,
                    Aruba), protocolos de roteamento, virtualização de servidores e projeto de redes.</p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe bg-azul text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/wilquimSolano.png'%}" alt="">
                <h5>Wilquim Solano</h5>
                <p class="text-justify mb-0">Formado em Engenharia de Computação pela UFRN, experiência profissional em
                    Suporte Técnico I, II, III, Infraestrutura
                    de Redes em órgãos públicos e privados, além de projetos realizados em Segurança de Redes e
                    Infraestrutura.
                    Possui cursos na área de Redes e Suporte. Conhecimento avançado em computação.</p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe bg-azul text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/ayuriBessa.png'%}" alt="">
                <h5>Ayuri Bessa</h5>
                <p class="text-justify mb-0">Residente de redes e infraestrutura TRE/RN. Possuo graduação em ciência e
                    tecnologia (BCT) e estou concluindo
                    a ênfase em engenharia de telecomunicações. Cursei o técnico em redes de computadores no instituto
                    metrópole
                    digital (IMD). Busco me aprofundar na administração de infraestrutura de redes de computadores e
                    telecomunicações,
                    bem como no desenvolvimento de software. </p>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="equipe bg-azul text-light rounded shadow mx-auto p-5 mb-5 mb-lg-0">
                <img class="p-4 img-fluid rounded-circle mb-3" src="{%static 'img/equipe/equipe2020/heltonCampos.png'%}" alt="">
                <h5>Helton Campos</h5>
                <p class="text-justify mb-0">Graduando em Engenharia de Telecomunicações e Bacharel em Ciências e
                    Tecnologia pela Universidade Federal
                    do Rio Grande do Norte (UFRN), técnico em informática pelo Centro Estadual de Educação Profissional
                    Sen.
                    Jessé Pinto Freire (CENEP), programador júnior pelo Instituto Metrópole Digital (IMD). Atualmente é
                    residente
                    em Redes e Infraestrutura no Tribunal Regional Eleitoral (TRE/RN) em parceria com o IMD. </p>
            </div>
        </div>
    </div>
</div>
    
</div>